* {
  margin: 0;
  padding: 0;
}

body {
  
}

.welcome{
  background-color:  #86DBFF;
  width:100vw;
  height:100vh;
}
.home{
  font-family: 'Pacifico', cursive;
  text-align:center;
  top:100px;
  color:white;
  font-size:96pt;
}

.enter{
  position: relative;
  top: 15vh;;
  left: 45vw;
  width: 100px;
  padding: 28px;
  /* height: 94px; */
  background-color: bisque;
  text-align: center;
  font-size: 28px;
  font-family: sans-serif;
}

a{  
  text-decoration: none;
  color: white;
}

